<div class="form-container">
  <form class="form" [formGroup]="credentialsForm" (ngSubmit)="login()">
    <div>
      <label for="email">Email</label>
      <br />
      <input id="email" formControlName="email" />
      <div
        *ngIf="
          credentialsForm.controls['email'].invalid &&
          credentialsForm.controls['email'].touched
        "
        class="error"
      >
        Email is required and must be a valid email address.
      </div>
    </div>
    <div>
      <label for="password">Password</label> <br />
      <input id="password" type="password" formControlName="password" />
      <div
        *ngIf="
          credentialsForm.controls['password'].invalid &&
          credentialsForm.controls['password'].touched
        "
        class="error"
      >
        Password is required and must be at least 6 characters long.
      </div>
    </div>
    <button type="submit" [disabled]="credentialsForm.invalid">login</button>
  </form>
</div>
